force-app/main/default/flows/Contact_merge_subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_list_to_update</name>
        <label>Add to list to update</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varEnrollmentsToMerge</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_related_enrollments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_related_enrollments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_enrollments_to_master_contact</name>
        <label>Assign enrollments to master contact</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_all_related_enrollments.Student__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMasterContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list_to_update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If there are no old enrollments, skip delete action.</description>
        <name>Check_for_old_enrollments</name>
        <label>Check for old enrollments</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Contacts_To_Be_Deleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enrollments_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_Enrollments</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Old_Enrollments</targetReference>
            </connector>
            <label>Enrollments exists</label>
        </rules>
    </decisions>
    <description>Reusable flow for actual custom contact merge process. Input is master contact and list of ids of to-be-merged contacts.
Merges related enrollments and opportunities only, while adding a note of each email and phone of the merged contacts.</description>
    <environments>Default</environments>
    <interviewLabel>Contact merge (subflow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact merge (subflow)</label>
    <loops>
        <description>Loop through all related enrollments and assign them to the master contact record.</description>
        <name>Loop_through_all_related_enrollments</name>
        <label>Loop through all related enrollments</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_all_related_course_enrollments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_enrollments_to_master_contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Enrollments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Enrollments</name>
        <label>Create Enrollments</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Get_Old_Enrollments</targetReference>
        </connector>
        <inputReference>varEnrollmentsToMerge</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Contacts</name>
        <label>Delete Contacts</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <inputReference>Contacts_To_Be_Deleted</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Old_Enrollments</name>
        <label>Delete Old Enrollments</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Contacts_To_Be_Deleted</targetReference>
        </connector>
        <inputReference>Get_Old_Enrollments</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Contacts_To_Be_Deleted</name>
        <label>Contacts To Be Deleted</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varContactIDsToBeMerged</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_related_course_enrollments</name>
        <label>Get all related course enrollments</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_related_enrollments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varContactIDsToBeMerged</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Enrollments</name>
        <label>Get Old Enrollments</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_old_enrollments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varContactIDsToBeMerged</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_related_course_enrollments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varContactIDsToBeMerged</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>List of all contacts records to be merged with master record,.</description>
        <name>varContactsToBeMerged</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Collection to be used in final update</description>
        <name>varEnrollmentsToMerge</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Enrollment__c</objectType>
    </variables>
    <variables>
        <description>This will be the surviving Contact record.</description>
        <name>varMasterContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varNotesCollectionToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Note</objectType>
    </variables>
    <variables>
        <name>varNoteToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Note</objectType>
    </variables>
    <variables>
        <name>varOpportunitiesToMerge</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
