force-app/main/default/flows/Course_Session_Name_Set.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_record_to_collection</name>
        <label>Add record to collection</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>courseSessionsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_course_sessions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_course_sessions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Naming_convention_individual_course</name>
        <label>Naming convention - individual course</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_course_sessions.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NamingConvention</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_record_to_collection</targetReference>
        </connector>
    </assignments>
    <description>Button that fixes all course sessions related to Disciple Course.</description>
    <environments>Default</environments>
    <formulas>
        <name>NamingConvention</name>
        <dataType>String</dataType>
        <expression>{!Get_Parent_Course.Course_Number__c} &amp;&quot; | &quot;&amp; TEXT({!Loop_through_course_sessions.Start_Date__c})</expression>
    </formulas>
    <interviewLabel>Course Session Name Set {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Course Session Name Set</label>
    <loops>
        <name>Loop_through_course_sessions</name>
        <label>Loop through course sessions</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Course_Sessions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Naming_convention_individual_course</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Session_Names</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Course_Sessions</name>
        <label>Get Course Sessions</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_course_sessions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Disciple_Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Course</name>
        <label>Get Parent Course</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Course_Sessions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Disciple_Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Session_Names</name>
        <label>Update Session Names</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>CompletionPage</targetReference>
        </connector>
        <inputReference>courseSessionsToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>CompletionPage</name>
        <label>CompletionPage</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Course Session names have been updated.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Course</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>courseSessionsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Session__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
