force-app/main/default/flows/Course_Session_close_after_end_date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Day_after_End_Date</name>
        <label>End Date</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_as_Complete</targetReference>
            </connector>
            <label>End Date</label>
        </rules>
    </decisions>
    <description>Marks Course Sessions as Complete a on end date at 5 pm.</description>
    <environments>Default</environments>
    <formulas>
        <name>EndDatePlus1</name>
        <dataType>Date</dataType>
        <expression>today() -1</expression>
    </formulas>
    <interviewLabel>Course Session close after end date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Course Session - end date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Mark_as_Complete</name>
        <label>Mark as Complete</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Day_after_End_Date</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upcoming</stringValue>
            </value>
        </filters>
        <object>Course_Session__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-11-18</startDate>
            <startTime>17:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
