force-app/main/default/flows/Course_Session_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Whenever ODM Disciple Course is updated, sync NDM course session details</description>
    <environments>Default</environments>
    <formulas>
        <name>namingConvention</name>
        <dataType>String</dataType>
        <expression>{!Get_Course_Session.Disciple_Course__r.Course_Number__c} &amp;&quot; | &quot;&amp; TEXT({!Get_Course_Session.ODM_BeADisciple_Course__r.Start_Date__c})</expression>
    </formulas>
    <interviewLabel>Course Session update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Course Session update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Queries NDM course session based on ODM course.</description>
        <name>Get_Course_Session</name>
        <label>Get Course Session</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bring_over_ODM_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ODM_BeADisciple_Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course_Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Syncs details of ODM Course with NDM Course Session.</description>
        <name>Bring_over_ODM_details</name>
        <label>Bring over ODM details</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ODM_BeADisciple_Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CEUs__c</field>
            <value>
                <elementReference>$Record.CEUs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Max__c</field>
            <value>
                <elementReference>$Record.Course_Max__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Min__c</field>
            <value>
                <elementReference>$Record.Course_Min__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_URL__c</field>
            <value>
                <elementReference>$Record.BeADisciple_Course_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IFD_Portion__c</field>
            <value>
                <elementReference>$Record.IFD_Portion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instructor_Portion__c</field>
            <value>
                <elementReference>$Record.Instructor_Portion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>namingConvention</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>$Record.Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Course_Session__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Course_Session</targetReference>
        </connector>
        <object>BAD_Course__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
