force-app/main/default/flows/Course_Enrollment_summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Count_enrollments</name>
        <label>Count enrollments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Enrollments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Minimum_Requirements_check</name>
        <label>Minimum Requirements check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Minimum_Requirements_met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Course_Session.Course_Min__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Course_Session_enrollment</targetReference>
            </connector>
            <label>Minimum Requirements met</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Course Enrollment summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Course Enrollment summary</label>
    <loops>
        <name>Loop_through_Enrollments</name>
        <label>Loop through Enrollments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>relatedEnrollments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_enrollments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Minimum_Requirements_check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_enrollments_to_course</name>
        <label>Get all enrollments to course</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Enrollments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Session__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Course_Session.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Enrollment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incomplete</stringValue>
            </value>
        </filters>
        <object>Course_Enrollment__c</object>
        <outputReference>relatedEnrollments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Enrollment_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Course_Session</name>
        <label>Get Course Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_enrollments_to_course</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Course_Session__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course_Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates Incomplete_Enrollments__c field on Course Session</description>
        <name>Update_Course_Session_enrollment</name>
        <label>Update Course Session enrollment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Upcoming</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Course_Session__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Course_Session</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Enrollment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incomplete</stringValue>
            </value>
        </filters>
        <object>Course_Enrollment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>relatedEnrollments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>varCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
