force-app/main/default/flows/Enrollment_to_NDM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Contact_found_in_Salesforce</name>
        <label>Contact found in Salesforce</label>
        <locationX>374</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>CreateNewContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact exists</defaultConnectorLabel>
        <rules>
            <name>Contact_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_existing_contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Course_Enrollment</targetReference>
            </connector>
            <label>Contact found</label>
        </rules>
    </decisions>
    <description>When enrollment is created in Formstack, this flow brings details into the NDM.</description>
    <environments>Default</environments>
    <interviewLabel>Enrollment to NDM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enrollment to NDM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Course_Enrollment</name>
        <label>Create Course Enrollment</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Add_NDM_enrollment</targetReference>
        </connector>
        <inputAssignments>
            <field>Acknowledge_RefundPolicyCourseMaterials__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Acknowledge_System_Requirements__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Session__c</field>
            <value>
                <elementReference>Get_Course_Session.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Status__c</field>
            <value>
                <stringValue>Incomplete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student__c</field>
            <value>
                <elementReference>Check_for_existing_contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Course_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Course_Enrollment_from_New_Contact</name>
        <label>Create Course Enrollment from New Contact</label>
        <locationX>506</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Update_original_enrollment</targetReference>
        </connector>
        <inputAssignments>
            <field>Acknowledge_RefundPolicyCourseMaterials__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Acknowledge_System_Requirements__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Session__c</field>
            <value>
                <elementReference>Get_Course_Session.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Status__c</field>
            <value>
                <stringValue>Incomplete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student__c</field>
            <value>
                <elementReference>CreateNewContact</elementReference>
            </value>
        </inputAssignments>
        <object>Course_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateNewContact</name>
        <label>Create New Contact</label>
        <locationX>506</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Create_Course_Enrollment_from_New_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.BAD_Students__r.BAD_StudentEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.BAD_Students__r.BAD_Student_FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.BAD_Students__r.BAD_Student_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>$Record.BAD_Students__r.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>$Record.BAD_Students__r.BAD_Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>$Record.BAD_Students__r.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>$Record.BAD_Students__r.Street_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.BAD_Students__r.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_for_existing_contact</name>
        <label>Check for existing contact</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_found_in_Salesforce</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BAD_Students__r.BAD_Student_Last_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BAD_Students__r.BAD_StudentEmail__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Course_Session</name>
        <label>Get Course Session</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_existing_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ODM_BeADisciple_Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BAD_Courses__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course_Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_NDM_enrollment</name>
        <label>Add NDM enrollment</label>
        <locationX>242</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Update_Existing_Contact_details</targetReference>
        </connector>
        <inputAssignments>
            <field>NDM_Course_Enrollment_record__c</field>
            <value>
                <elementReference>Create_Course_Enrollment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Contact_details</name>
        <label>Update Existing Contact details</label>
        <locationX>242</locationX>
        <locationY>816</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check_for_existing_contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>$Record.BAD_Students__r.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>$Record.BAD_Students__r.BAD_Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>$Record.BAD_Students__r.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>$Record.BAD_Students__r.Street_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.BAD_Students__r.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_original_enrollment</name>
        <label>Update original enrollment</label>
        <locationX>506</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>NDM_Course_Enrollment_record__c</field>
            <value>
                <elementReference>Create_Course_Enrollment_from_New_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>BAD_Enrollment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Move_to_NDM</name>
            <connector>
                <targetReference>Get_Course_Session</targetReference>
            </connector>
            <label>Move to NDM</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
