force-app/main/default/flows/Formstack_to_NDM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Uses intermediary &quot;Course Enrollment Data&quot; object.</description>
    <environments>Default</environments>
    <interviewLabel>Formstack to NDM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Formstack to NDM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Enrollment record using elements Course Session and Contact.</description>
        <name>Create_Enrollment_record</name>
        <label>Create Enrollment record</label>
        <locationX>308</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Acknowledge_RefundPolicyCourseMaterials__c</field>
            <value>
                <elementReference>$Record.Refund_Acknowledgement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Acknowledge_System_Requirements__c</field>
            <value>
                <elementReference>$Record.Course_Description_Acknowledgement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Session__c</field>
            <value>
                <elementReference>Get_Course_Session.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Code__c</field>
            <value>
                <elementReference>$Record.Discount_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrollment_Status__c</field>
            <value>
                <stringValue>Incomplete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IFD_Portion_Paid__c</field>
            <value>
                <elementReference>Get_Course_Session.IFD_Portion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instructor_Portion_Paid__c</field>
            <value>
                <elementReference>Get_Course_Session.Instructor_Portion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Amount__c</field>
            <value>
                <elementReference>Get_Course_Session.Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sponsor_Portion_Paid__c</field>
            <value>
                <elementReference>Get_Course_Session.Sponsor_Portion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student__c</field>
            <value>
                <elementReference>Create_Update_Contact_Record</elementReference>
            </value>
        </inputAssignments>
        <object>Course_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates contact record based on formstack details. If last name and email match, current contact is updated.</description>
        <name>Create_Update_Contact_Record</name>
        <label>Create/Update Contact Record</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Get_Course_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Email__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Church_Affiliation__c</field>
            <value>
                <elementReference>$Record.Church_Affiliation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Participant_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hear_about_Disciple_Program__c</field>
            <value>
                <elementReference>$Record.How_did_you_hear__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>$Record.Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>$Record.State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>$Record.Street_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Participant_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Obtain course session based on SFID.</description>
        <name>Get_Course_Session</name>
        <label>Get Course Session</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Enrollment_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Course_Session_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course_Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeId</name>
        <label>GetRecordTypeId</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Update_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ambassador</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Course_Enrollment_Data__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Formstack_to_NDM_2_minute_delay</name>
            <connector>
                <targetReference>GetRecordTypeId</targetReference>
            </connector>
            <label>Formstack to NDM (2 minute delay)</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
