force-app/main/default/flows/NDM_Course_Session_and_initial_Parent_course_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>New Data Model. Creates course session and a parent course.</description>
    <environments>Default</environments>
    <formulas>
        <name>courseNamingConvention</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Start_Date__c})</expression>
    </formulas>
    <interviewLabel>NDM - Course Session and initial Parent course creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NDM - Course Session and initial Parent course creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Course_in_new_data_model</name>
        <label>Create Course in new data model</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>Create_Course_Session</targetReference>
        </connector>
        <inputAssignments>
            <field>CEUs__c</field>
            <value>
                <elementReference>$Record.CEUs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Disciple_Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Course_Session</name>
        <label>Create Course Session</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Mark_initial_course_as_imported_to_new_model</targetReference>
        </connector>
        <inputAssignments>
            <field>CEUs__c</field>
            <value>
                <elementReference>$Record.CEUs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Max__c</field>
            <value>
                <elementReference>$Record.Course_Max__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Min__c</field>
            <value>
                <elementReference>$Record.Course_Min__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disciple_Course__c</field>
            <value>
                <elementReference>Create_Course_in_new_data_model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IFD_Portion__c</field>
            <value>
                <elementReference>$Record.IFD_Portion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instructor_Portion__c</field>
            <value>
                <elementReference>$Record.Instructor_Portion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>courseNamingConvention</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ODM_Course_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Password__c</field>
            <value>
                <elementReference>$Record.Password__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sponsor_Portion__c</field>
            <value>
                <elementReference>$Record.Sponsor_Portion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Course_Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Mark_initial_course_as_imported_to_new_model</name>
        <label>Mark initial course as imported to new model</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Imported_to_new_Data_Model__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Course_in_new_data_model</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Imported_to_new_Data_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>BAD_Course__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-23</startDate>
            <startTime>23:07:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
