force-app/main/default/flows/Nightly_Household_Data_Cleansing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Totals</name>
        <label>Assign Totals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTotalDonationAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Closed_Won_Opportunities.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDonationCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Closed_Won_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recent_Opportunity_Assignments</name>
        <label>Recent Opportunity Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLastDonationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_most_recent_Closed_Opportunity.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLastDonationAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_most_recent_Closed_Opportunity.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Closed_Won_Opportunities</targetReference>
        </connector>
    </assignments>
    <description>Nightly calculation of Household Donation data</description>
    <environments>Default</environments>
    <formulas>
        <name>formulatAverageGiftAmount</name>
        <dataType>Currency</dataType>
        <expression>{!varTotalDonationAmount} / {!varDonationCount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Nightly Household Data Cleansing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nightly Household Data Cleansing</label>
    <loops>
        <name>Loop_Through_Closed_Won_Opportunities</name>
        <label>Loop Through Closed Won Opportunities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Closed_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Totals</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Totals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Closed_Opportunities</name>
        <label>Get Closed Opportunities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_most_recent_Closed_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_most_recent_Closed_Opportunity</name>
        <label>Get most recent Closed Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recent_Opportunity_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Totals</name>
        <label>Update Totals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Average_Gift_Amount__c</field>
            <value>
                <elementReference>formulatAverageGiftAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Donation_Amount__c</field>
            <value>
                <elementReference>varLastDonationAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Donation_Date__c</field>
            <value>
                <elementReference>varLastDonationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Donations__c</field>
            <value>
                <elementReference>varDonationCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Donation_Amount__c</field>
            <value>
                <elementReference>varTotalDonationAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Closed_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012Ro000000lCovIAE</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-09-20</startDate>
            <startTime>18:10:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varDonationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varLastDonationAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varLastDonationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalDonationAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
