force-app/main/default/flows/ODM_Course_sync_with_NDM_Course_Course_Session.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Creates Course and Course Session in NDM whenever a course is created in ODM.</description>
    <environments>Default</environments>
    <formulas>
        <name>courseNamingConvention</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Start_Date__c})</expression>
    </formulas>
    <interviewLabel>ODM Course sync with NDM Course/Course Session {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ODM Course sync with NDM Course/Course Session</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates top level course. Will need to manually merged until we fully switch to NDM.</description>
        <name>Create_Course_in_new_data_model</name>
        <label>Create Course in new data model</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Create_Course_Session</targetReference>
        </connector>
        <inputAssignments>
            <field>CEUs__c</field>
            <value>
                <elementReference>$Record.CEUs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>$Record.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Certification__c</field>
            <value>
                <elementReference>Get_Certification_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Disciple_Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a course session with &quot;Upcoming&quot; status. Adds in ODM course. Naming convention will be off until course number is set.</description>
        <name>Create_Course_Session</name>
        <label>Create Course Session</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Link_ODM_Course_with_NDM_Course_Session</targetReference>
        </connector>
        <inputAssignments>
            <field>CEUs__c</field>
            <value>
                <elementReference>$Record.CEUs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Max__c</field>
            <value>
                <elementReference>$Record.Course_Max__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Min__c</field>
            <value>
                <elementReference>$Record.Course_Min__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_URL__c</field>
            <value>
                <elementReference>$Record.BeADisciple_Course_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disciple_Course__c</field>
            <value>
                <elementReference>Create_Course_in_new_data_model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IFD_Portion__c</field>
            <value>
                <elementReference>$Record.IFD_Portion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instructor_Portion__c</field>
            <value>
                <elementReference>$Record.Instructor_Portion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>courseNamingConvention</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ODM_BeADisciple_Course__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Password__c</field>
            <value>
                <elementReference>$Record.Password__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sponsor_Portion__c</field>
            <value>
                <elementReference>$Record.Sponsor_Portion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Upcoming</stringValue>
            </value>
        </inputAssignments>
        <object>Course_Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Matches Certification record based on Affiliation field.</description>
        <name>Get_Certification_record</name>
        <label>Get Certification record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Course_in_new_data_model</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Affiliation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Certification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Links ODM Course with NDM Course Session</description>
        <name>Link_ODM_Course_with_NDM_Course_Session</name>
        <label>Link ODM Course with NDM Course Session</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Course_Session__c</field>
            <value>
                <elementReference>Create_Course_Session</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Certification_record</targetReference>
        </connector>
        <object>BAD_Course__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
