force-app/main/default/flows/Summer_Participant_List_View_email_button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_parents</name>
        <label>Send email to parents</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_through_parents</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_through_parents.Parent_Guardian_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Message_Body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_participants</name>
        <label>Send email to participants</label>
        <locationX>442</locationX>
        <locationY>674</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_Loop_through_parents</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Copy_1_of_Loop_through_parents.Participant_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Message_Body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Org_Wide_Email</name>
        <label>Assign Org Wide Email</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>cheryl.rude@sckans.edu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_email_to_parents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Org_Wide_Email</name>
        <label>Copy 1 of Assign Org Wide Email</label>
        <locationX>442</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>cheryl.rude@sckans.edu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_email_to_participants</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>varParent</name>
        <choiceText>Parents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parents</stringValue>
        </value>
    </choices>
    <choices>
        <name>varParticipants</name>
        <choiceText>Participants</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Participants</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Parent_or_Participant</name>
        <label>Parent or Participant</label>
        <locationX>202</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Loop_through_parents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParent</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_parents</targetReference>
            </connector>
            <label>Parent</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Summer Participant List View email button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Summer Participant List View email button</label>
    <loops>
        <name>Copy_1_of_Loop_through_parents</name>
        <label>Copy 1 of Loop through parents</label>
        <locationX>354</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_emails_from_selected_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_Org_Wide_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>See_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_parents</name>
        <label>Loop through parents</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_emails_from_selected_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Org_Wide_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>See_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_emails_from_selected_records</name>
        <label>Get emails from selected records</label>
        <locationX>202</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_or_Participant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Summer_Participant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Message_Details</name>
        <label>Message Details</label>
        <locationX>202</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_emails_from_selected_records</targetReference>
        </connector>
        <fields>
            <name>EmailRecipient</name>
            <choiceReferences>varParent</choiceReferences>
            <choiceReferences>varParticipants</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Email Recipient</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Message_Body</name>
            <fieldText>Message Body</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>See_list</name>
        <label>See list</label>
        <locationX>202</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>view</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Emails sent. You can close this window.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>76</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Message_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedRecordParticipants</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Summer_Participant__c</objectType>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedRecordEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
