force-app/main/default/flows/Summit_Payment_Reminder_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Payment_Reminder</name>
        <label>Payment Reminder</label>
        <locationX>138</locationX>
        <locationY>576</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_through_Applied_summer_participants</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_through_Applied_summer_participants.Participant_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Payment Reminder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Record.Payment_Reminder_message__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Deadline_Date_is_today</name>
        <label>Deadline Date is today</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deadline_Date_today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentDateMinusDeadlineNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formulaToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_participants</targetReference>
            </connector>
            <label>Deadline Date today</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaToday</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <name>PaymentDateMinusDeadlineNumber</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Payment_Deadline_Date__c} - {!$Record.X_days_before_deadline_to_send_reminder__c}</expression>
    </formulas>
    <interviewLabel>Summit - Payment Reminder email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Summit - Payment Reminder email</label>
    <loops>
        <name>Loop_through_Applied_summer_participants</name>
        <label>Loop through Applied summer participants</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_participants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Payment_Reminder</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_participants</name>
        <label>Get participants</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Applied_summer_participants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Summit_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Registration_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applied</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Summer_Participant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Deadline_Date_is_today</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Summer_Program__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-11-09</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
