force-app/main/default/flows/Summer_Participant_Emails_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Summer_Parent_Signature</name>
        <label>Summer Parent Signature</label>
        <locationX>440</locationX>
        <locationY>684</locationY>
        <actionName>Summer_Participant__c.Summer_Parent_Signature</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Recommendation_email_not_blank</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Summer_Participant__c.Summer_Parent_Signature</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Summit_Application_Completion</name>
        <label>Summit Application Completion</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <actionName>Summer_Participant__c.Summit_Application_Completion</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Parent_email_not_blank</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Summer_Participant__c.Summit_Application_Completion</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Summit_Program_Recommendation_email</name>
        <label>Summit Program Recommendation email</label>
        <locationX>440</locationX>
        <locationY>984</locationY>
        <actionName>Summer_Participant__c.Summit_Program_Recommendation_email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Summer_Participant__c.Summit_Program_Recommendation_email</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Parent_email_not_blank</name>
        <label>Parent email not blank</label>
        <locationX>352</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Summer_Parent_Signature</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not blank</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_Guardian_Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recommendation_email_not_blank</targetReference>
            </connector>
            <label>blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Participant_Email_not_blank</name>
        <label>Participant Email not blank</label>
        <locationX>352</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Summit_Application_Completion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not blank</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Participant_Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_email_not_blank</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recommendation_email_not_blank</name>
        <label>Recommendation email not blank</label>
        <locationX>352</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>Summit_Program_Recommendation_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not blank</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Recommendation_Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Summer Parti {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Summer Participant Emails (Create)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Summer_Participant__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Wait_2_minutes</name>
            <connector>
                <targetReference>Participant_Email_not_blank</targetReference>
            </connector>
            <label>Wait 2 minutes</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
