force-app/main/default/flows/Summit_Nomination.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Warning</name>
        <label>Warning</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varShowWarning</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>WaiversReleasesandPolicies</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Only_one_checkbox</name>
        <label>Only one checkbox</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>ParentPaymentInformation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Photo_Yes_and_No_selected</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8) OR (9 OR 10 OR 11)</conditionLogic>
            <conditions>
                <leftValueReference>PhotoYes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PhotoNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MedicalYes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MedicalNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PhotoYes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PhotoNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MedicalNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MedicalYes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>I_have_read_and_agree_to_conduct_myself_in_accordance_with_Southwestern_College</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>I_have_read_and_agree_to_the_Residence_Agreement_terms_and_conditions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>I_acknowledge_that_I_have_voluntarily_elected_to_sign_up_for_a_Southwestern_Coll</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning</targetReference>
            </connector>
            <label>PhotoMedical Yes and No selected</label>
        </rules>
    </decisions>
    <description>External form used for Summit applicants.</description>
    <dynamicChoiceSets>
        <name>activePrograms</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Summer_Program__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceApplyingFor</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Applying_for__c</picklistField>
        <picklistObject>Summer_Participant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Summer_Participant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>graduationClass</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Graduation_Class__c</picklistField>
        <picklistObject>Summer_Participant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HowDidYouHear</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>How_did_you_hear_about_the_Summit__c</picklistField>
        <picklistObject>Summer_Participant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MayWeText</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>May_we_text__c</picklistField>
        <picklistObject>Summer_Participant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>methodOfPayment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Method_of_PaymentLeadership__c</picklistField>
        <picklistObject>Summer_Participant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MethodPaymentDiscipleship</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Method_of_PaymentDiscipleship__c</picklistField>
        <picklistObject>Summer_Participant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MethodpaymentLeadership</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Method_of_PaymentLeadership__c</picklistField>
        <picklistObject>Summer_Participant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PreferToCommuniceChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>How_do_you_prefer_to_be_contacted__c</picklistField>
        <picklistObject>Summer_Participant__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>shirtSize</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Shirt_Size__c</picklistField>
        <picklistObject>Summer_Participant__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>discipleshipCampCheck</name>
        <dataType>Boolean</dataType>
        <expression>IF({!varProgramType}=&quot;Discipleship Camp&quot;, true, false)</expression>
    </formulas>
    <interviewLabel>Summit Nomination {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Summit Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Participant_Profile</name>
        <label>Create Participant Profile</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>FinalMessageScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Application_Completion_Email_Message__c</field>
            <value>
                <elementReference>varAppCompletionEmailMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_Payment_Email_Message__c</field>
            <value>
                <elementReference>varAppPaymentEmailMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Christian_Faith__c</field>
            <value>
                <elementReference>How_have_you_observed_the_nominee_involved_in_ways_that_impact_your_local_church</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Church_State__c</field>
            <value>
                <elementReference>Local_Church_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City_of_Church__c</field>
            <value>
                <elementReference>Local_Church_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discipleship_Camp__c</field>
            <value>
                <elementReference>discipleshipCampCheck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Food_Allergies__c</field>
            <value>
                <elementReference>Food_Allergies</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>GenderChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Graduation_Class__c</field>
            <value>
                <elementReference>Graduation_Class</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_School_City__c</field>
            <value>
                <elementReference>High_School_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_School_Name__c</field>
            <value>
                <elementReference>High_School_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_School_State__c</field>
            <value>
                <elementReference>High_School_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_did_you_hear_about_the_Summit__c</field>
            <value>
                <elementReference>How_did_you_hear_about_Summit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_do_you_prefer_to_be_contacted__c</field>
            <value>
                <elementReference>How_do_you_prefer_to_be_contacted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>May_we_text__c</field>
            <value>
                <elementReference>May_we_text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Consent__c</field>
            <value>
                <elementReference>MedicalYes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method_of_PaymentDiscipleship__c</field>
            <value>
                <elementReference>Method_of_PaymentDiscipleship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method_of_PaymentLeadership__c</field>
            <value>
                <elementReference>Method_of_PaymentLeadership</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_of_Church__c</field>
            <value>
                <elementReference>Local_Church_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Guardian_Email__c</field>
            <value>
                <elementReference>Parent_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Guardian_First_Name__c</field>
            <value>
                <elementReference>Parent_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Guardian_Last_Name__c</field>
            <value>
                <elementReference>Parent_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Guardian_Phone__c</field>
            <value>
                <elementReference>ParentPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participant_City__c</field>
            <value>
                <elementReference>Mailing_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participant_Country__c</field>
            <value>
                <elementReference>Mailing_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participant_Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participant_First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participant_Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participant_Phone__c</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participant_Preferred_Name__c</field>
            <value>
                <elementReference>Preferred_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participant_State__c</field>
            <value>
                <elementReference>Mailing_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participant_Street_Address_1__c</field>
            <value>
                <elementReference>Mailing_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participant_Zip_Code__c</field>
            <value>
                <elementReference>Mailing_Zip_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photo_Release__c</field>
            <value>
                <elementReference>PhotoYes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommendation_Email__c</field>
            <value>
                <elementReference>Recommendation_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommendation_First_Name__c</field>
            <value>
                <elementReference>Recommendation_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommendation_Last_Name__c</field>
            <value>
                <elementReference>Recommendation_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shirt_Size__c</field>
            <value>
                <elementReference>Shirt_Size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summit_Program__c</field>
            <value>
                <elementReference>Camp_Applying_For</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_attend_leadership_camp__c</field>
            <value>
                <elementReference>Tell_us_why_you_would_like_to_attend_the_leadership_camp</elementReference>
            </value>
        </inputAssignments>
        <object>Summer_Participant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Disciple_Logo</name>
        <label>Get Disciple Logo</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Leadership_Logo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DiscipleLogo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>StaticResource</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Leadership_Logo</name>
        <label>Get Leadership Logo</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Program_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeadershipLogo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>StaticResource</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Once Program is selected, this component assigns the Program Type. Program Type will be used to filter specific fields later in the form.</description>
        <name>Get_Program_Type</name>
        <label>Get Program Type</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Participant_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Camp_Applying_For</elementReference>
            </value>
        </filters>
        <object>Summer_Program__c</object>
        <outputAssignments>
            <assignToReference>varAppCompletionEmailMessage</assignToReference>
            <field>Application_Completion_Email_Message__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAppPaymentEmailMessage</assignToReference>
            <field>Application_Payment_Email_Message__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProgramType</assignToReference>
            <field>Program_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getMainLogo</name>
        <label>getMainLogo</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Program_Select</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>mainSummit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>StaticResource</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>FinalMessageScreen</name>
        <label>FinalMessageScreen</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinalMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Thanks for your application. We got it and will be in touch with all the details!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ParentPaymentInformation</name>
        <label>ParentPaymentInformation</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SignatureScreen</targetReference>
        </connector>
        <fields>
            <name>Parent_Information</name>
            <fieldText>Parent Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Parent_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Parent_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Parent First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Parent_LastName</name>
                    <dataType>String</dataType>
                    <fieldText>Parent Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Parent_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Parent_Email</name>
                    <dataType>String</dataType>
                    <fieldText>Parent Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Invalid email&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Parent_Email} , &quot;^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>ParentPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Parent Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PaymentLeadership</name>
            <fieldText>Payment</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PaymentLeadership_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PaymentLeadershipCamp</name>
                    <fieldText>&lt;p&gt;The week of camp, including housing and expenses, costs $400. Scholarships, which may cover the full cost of the camp, are available through local Rotary clubs. Local clubs must be notified by the applicant and scholarship requests approved prior to May 11, 2025.&amp;nbsp;If seeking scholarship funding from your local Rotary Club, you are responsible for contacting your club and requesting payment. Contact leaders@sckans.edu if you are uncertain about how to contact your local club. All payments are due by May 11, 2025.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please make checks payable to:&amp;nbsp;Rotary Youth Leadership Camp&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Send to:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Community National Bank &amp;amp; Trust&lt;/p&gt;&lt;p&gt;Attn: Rotarian, Dean Kennedy&lt;/p&gt;&lt;p&gt;P.O. Box 637&lt;/p&gt;&lt;p&gt;Winfield, KS 67156&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varProgramType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Leadership Camp</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Method_of_PaymentLeadership</name>
                    <choiceReferences>MethodpaymentLeadership</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Method of Payment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varProgramType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Leadership Camp</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varProgramType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Leadership Camp</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PaymentDiscipleshipCamp</name>
            <fieldText>Payment</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PaymentDiscipleshipCamp_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PaymentDiscipleship</name>
                    <fieldText>&lt;p&gt;The week of camp, including housing and expenses, costs $400. Scholarships, which may cover the full cost of the camp, may be available through local churches. Lots of students pay half and receive half from their local church. If seeking scholarship funding from your local church, you are responsible for contacting your church and requesting payment. Contact summit@sckans.edu if you are uncertain about how to contact your local church or are requesting additional financial help. All payments are due by Sunday May 11, 2025.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varProgramType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Discipleship Camp</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Method_of_PaymentDiscipleship</name>
                    <choiceReferences>MethodPaymentDiscipleship</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Method of Payment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varProgramType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Discipleship Camp</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varProgramType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Discipleship Camp</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Participant_Information</name>
        <label>Participant Information</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WaiversReleasesandPolicies</targetReference>
        </connector>
        <fields>
            <name>LeadershipLogo3</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>Get_Leadership_Logo.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varProgramType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Leadership Camp</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DiscipleLogo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>Get_Disciple_Logo.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varProgramType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Leadership Camp</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Nominee_Info</name>
            <fieldText>Applicant Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Nominee_Info_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Preferred_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Preferred Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Mailing_Street</name>
                    <dataType>String</dataType>
                    <fieldText>Mailing Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Mailing_City</name>
                    <dataType>String</dataType>
                    <fieldText>Mailing City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Mailing_State</name>
                    <dataType>String</dataType>
                    <fieldText>Mailing State</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Mailing_Zip_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Mailing Zip Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Mailing_Country</name>
                    <dataType>String</dataType>
                    <fieldText>Mailing Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Nominee_Info_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GenderChoice</name>
                    <choiceReferences>Gender</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Phone</name>
                    <dataType>String</dataType>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>May_we_text</name>
                    <choiceReferences>MayWeText</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>May we text?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Email</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid email&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Email} , &quot;^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>How_do_you_prefer_to_be_contacted</name>
                    <choiceReferences>PreferToCommuniceChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>How do you prefer to be contacted?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Shirt_Size</name>
                    <choiceReferences>shirtSize</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Shirt Size</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Graduation_Class</name>
                    <choiceReferences>graduationClass</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Graduation Class</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Food_Allergies</name>
                    <fieldText>Food Allergies</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>How_did_you_hear_about_Summit</name>
                    <choiceReferences>HowDidYouHear</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>How did you hear about us?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Participant_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Participant_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>High_School_Name</name>
                    <dataType>String</dataType>
                    <fieldText>High School Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varProgramType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Leadership Camp</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Local_Church_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Local Church Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varProgramType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Discipleship Camp</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Participant_Information_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>High_School_City</name>
                    <dataType>String</dataType>
                    <fieldText>High School City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varProgramType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Leadership Camp</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Local_Church_City</name>
                    <dataType>String</dataType>
                    <fieldText>Local Church City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varProgramType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Discipleship Camp</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Participant_Information_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>High_School_State</name>
                    <dataType>String</dataType>
                    <fieldText>High School State</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varProgramType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Leadership Camp</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Local_Church_State</name>
                    <dataType>String</dataType>
                    <fieldText>Local Church State</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varProgramType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Discipleship Camp</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Participant_Information_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Participant_Information_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tell_us_why_you_would_like_to_attend_the_leadership_camp</name>
                    <fieldText>Tell us why you would like to attend the leadership camp</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varProgramType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Leadership Camp</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>How_have_you_observed_the_nominee_involved_in_ways_that_impact_your_local_church</name>
                    <fieldText>Tell us what would you like to learn about your Christian faith during camp</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varProgramType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Discipleship Camp</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RecommendationInstructions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please give us the name of an adult (not in your immedicate family) in your local church that can recommend you as a young person involved in their Christian faith.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varProgramType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Discipleship Camp</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Participant_Information_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Participant_Information_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Recommendation_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Recommendation First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varProgramType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Discipleship Camp</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Participant_Information_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Recommendation_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Recommendation Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varProgramType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Discipleship Camp</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Participant_Information_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Recommendation_Email</name>
                    <dataType>String</dataType>
                    <fieldText>Recommendation Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid email&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Recommendation_Email} , &quot;^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$&quot;)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varProgramType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Discipleship Camp</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Statement_of_Inclusion</name>
            <fieldText>Statement of Inclusion</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Statement_of_Inclusion_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>statementOfInclusion</name>
                    <fieldText>&lt;p&gt;Southwestern College is dedicated to providing an atmosphere that nourishes the learning, growth, and personal development of each resident within an inclusive cooperative community.&amp;nbsp;Southwestern strives to accommodate the needs of students to ensure a safe and comfortable living environment.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Southwestern College is highly committed to working with students to find the best living environment, yet due to limited housing options, there is no guarantee that all preferences can be met.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(36, 36, 36);&quot;&gt;Options may include:&lt;/em&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Live with a preferred roommate or roommate based on compatibility, not gender identity&lt;/li&gt;&lt;li&gt;Private room or a private studio&lt;/li&gt;&lt;li&gt;Private bathroom&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;If you have any additional questions or concerns, please feel free to contact the Director of Camps &amp;amp; Conferences at dir.campconf@sckans.edu or 620-229-6141&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Program_Select</name>
        <label>Program Select</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Disciple_Logo</targetReference>
        </connector>
        <fields>
            <name>mainSummitdisplay</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>getMainLogo.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CampInformationHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; font-family: Calibri, sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;2025 Summer Camps for Discipleship or Leadership&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CampInformation</name>
            <fieldText>&lt;p&gt;Both camps will be May 27-30, 2025 (Tuesday-Friday), on the Southwestern College Campus. Deadline for signing up is Sunday, May 11, 2025. There will be no refunds, unless there is an exceptional reason.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Summit Discipleship Camp	&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;The Summit offers space for high school sophomores, juniors and seniors to stop and listen. We provide helpful ways for them to discover Gods peace, assurance, and hope, and help them learn how to tell the difference between Gods voice and the other voices fighting for their attention. The design of the camp will allow students to have a chance to experience what Christian discipleship might look like as a college student as well as imagine what Christian discipleship might like look in a variety of vocations.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;RYLA Leadership Camp&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Some people may define a leader as one who is in charge of a group or activity. However, a true leader is a servant first. Rotary Leadership Summer Camp offers an opportunity to discuss the possibilities and responsibilities of being a servant leader, and highlights what Rotary is doing in different communities! Throughout the camp students will learn about themselves and others, and about motivation and teamwork. The students will discover that he or she cannot be a leader without being a servant first.&amp;nbsp;&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Camp_Applying_For</name>
            <choiceReferences>activePrograms</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Camp Applying For:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SignatureScreen</name>
        <label>SignatureScreen</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Participant_Profile</targetReference>
        </connector>
        <fields>
            <name>ParticipantSignatureInstructions</name>
            <fieldText>&lt;p&gt;Participant Signature&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I hereby acknowledge that I have read, understand, and will abide by each of the terms and conditions of this Agreement. I understand that I may seek legal counsel of my own choosing to fully explain any terms of this Agreement to me before I sign it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Please_type_name_below</name>
            <dataType>String</dataType>
            <fieldText>Please type name below</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WaiversReleasesandPolicies</name>
        <label>WaiversReleasesandPolicies</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Only_one_checkbox</targetReference>
        </connector>
        <fields>
            <name>checkWaivers</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Please check all waivers before continuing &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varShowWarning</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Waivers_Releases_and_Policies</name>
            <fieldText>Waivers, Releases and Policies</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Waivers_Releases_and_Policies_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>I_have_read_and_agree_to_the_Residence_Agreement_terms_and_conditions</name>
                    <dataType>Boolean</dataType>
                    <fieldText>I have read and agree to the Residence Agreement terms and conditions.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>I_have_read_and_agree_to_conduct_myself_in_accordance_with_Southwestern_College</name>
                    <dataType>Boolean</dataType>
                    <fieldText>I have read and agree to conduct myself in accordance with Southwestern Colleges Camp and Conference Policies.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>I_acknowledge_that_I_have_voluntarily_elected_to_sign_up_for_a_Southwestern_Coll</name>
                    <dataType>Boolean</dataType>
                    <fieldText>I acknowledge that I have voluntarily elected to sign up for a Southwestern College summer camp and have read and agree to the Summer Camp Liability Waiver.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Waivers_Releases_and_Policies_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ResidenceAgreement</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://www.sckans.edu/file/3727&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Residence Agreement&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CampandConferencePolicies</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://www.sckans.edu/file/6219&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Camp and Conference Policies&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>LiabilityWaiver</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://www.sckans.edu/file/6220&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Liability Waiver&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Medical_Consent</name>
            <fieldText>Medical Consent</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Medical_Consent_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MedicalConsentMessage</name>
                    <fieldText>&lt;p&gt;I understand and agree that Southwestern College may not have medical personnel available at the location of the camp. In the event of any medical emergency, select your consent below:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>medicalWarning</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Please select only one checkbox&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varShowWarning</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>MedicalYes</name>
                    <dataType>Boolean</dataType>
                    <fieldText>I DO authorize and consent to any x-ray examination, anesthetic, medical, dental or surgical diagnosis or treatment and hospital care that Southwestern College personnel deem necessary for my safety and protection. I understand and agree that Releasees assume no responsibility for any injury, illness, or damage which might arise out of or in connection with such authorized emergency medical treatment. I further understand that in the event that I experience any condition requiring emergency medical treatment, Southwestern College may direct that I be transported to the hospital for such care.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>MedicalNo</name>
                    <dataType>Boolean</dataType>
                    <fieldText>I DO NOT authorize and consent to any x-ray examination, anesthetic, medical, dental or surgical diagnosis or treatment and hospital care that Southwestern College personnel deem necessary for my safety and protection. I understand and agree that Releasees assume no responsibility for any injury, illness, or damage which might arise out of or in connection with such authorized emergency medical treatment. I further understand that in the event that I experience any condition requiring emergency medical treatment, Southwestern College may direct that I be transported to the hospital for such care.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PhotoVideoReleaseSection</name>
            <fieldText>Photo And Video Release</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PhotoVideoReleaseSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PhotoVideoDetails</name>
                    <fieldText>&lt;p&gt;It is vital that summer camps keep updated records of events and an active website which may contain student&apos;s photos. Names of students will never be identified.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PhotoWarning</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Please select only one checkbox&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varShowWarning</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>PhotoYes</name>
                    <dataType>Boolean</dataType>
                    <fieldText>As a condition of my participation, I DO grant Southwestern College the right to use, for promotional purposes only, any photographs of me taken by Southwestern College, its employees or agents, during my participation in the Program. I further understand and agree that Southwestern College may use (for marketing purposes) any statements or quotes attributed to me in my evaluation of the Program.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PhotoNo</name>
                    <dataType>Boolean</dataType>
                    <fieldText>As a condition of my participation, I DO NOT grant Southwestern College the right to use, for promotional purposes only, any photographs of me taken by Southwestern College, its employees or agents, during my participation in the Program. I further understand and agree that Southwestern College may use (for marketing purposes) any statements or quotes attributed to me in my evaluation of the Program.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getMainLogo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAppCompletionEmailMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAppPaymentEmailMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProgramType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShowWarning</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
